{% extends "base.html" %}
{% block content %}
  <div class="section">
    <div class="container">
      <div class="intro-wrap">
        <div class="name-text">Munam Mubashir</div>
        <div class="paragraph-light">Software Engineer</div>
        <h1 class="heading-jumbo">Hey there! I’m a Software Engineer based out of Pakistan.</h1>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="works-grid" class="w-layout-grid works-grid">
      <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fa5-f71b88f5"><a
        href="https://munam.webflow.io/work/project-1" class="work-image cc-work-1 w-inline-block"></a>
        <div class="work-description"><a href="https://munam.webflow.io/work/project-1"
                                         class="project-name-link">Omnipreneurship Academy<br></a>
          <div class="paragraph-light">Openedx-based
            learning management system that provides courses, webinars and
            applications for the sake of guiding and grooming people to become
            better entrepreneurs.
          </div>
        </div>
      </div>
      <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fad-f71b88f5"><a
        href="https://munam.webflow.io/work/project-2" class="work-image cc-work-2 w-inline-block"></a>
        <div class="work-description"><a href="https://munam.webflow.io/work/project-2"
                                         class="project-name-link">Articulate</a>
          <div class="paragraph-light">A Django based web application that allows users to articulate their
            ideas in the form of articles.
          </div>
        </div>
      </div>
      <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fb4-f71b88f5"><a
        href="https://munam.webflow.io/work/project-3" class="work-image cc-work-3 w-inline-block"></a>
        <div class="work-description"><a href="https://munam.webflow.io/work/project-3"
                                         class="project-name-link">MovieDB</a>
          <div class="paragraph-light">MovieDB
            provides a place for the enthusiast to satiate their cinema hunger by
            adding, reviewing and rating movies. Built on top of a DRF API backend
            consumed by a React frontend.
          </div>
        </div>
      </div>
      <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fbb-f71b88f5"><a
        href="https://munam.webflow.io/work/project-4" class="work-image cc-work-4 w-inline-block"></a>
        <div class="work-description"><a href="https://munam.webflow.io/work/project-4"
                                         class="project-name-link">Philantrophy University</a>
          <div class="paragraph-light">An
            Opened based Learning Platform exclusively built for social impact
            organizations. It provides a range of courses and features, designed to
            empower social impact organizations around the world and drive
            increasing impact.
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="carrer-headline-wrap">
        <h2 class="heading">My experience</h2>
        <p class="paragraph-light">Software Engineer</p>
      </div>
      <div class="w-layout-grid work-experience-grid">
        <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fc9-f71b88f5" class="work-position-wrap">
          <div class="position-name-text">Arbisoft</div>
          <div class="paragraph-light cc-position-name">Software Engineer</div>
          <div class="paragraph-tiny cc-paragraph-tiny-light">Jul 2020 — Present<br></div>
          <div class="experience-summary">- Worked on some state-of-the-art, learning management systems (LMS)
            powered by the Open Edx platform.<br>-
            Brought the load times down significantly by optimizing queries, and
            modularizing code. This was made possible by intelligent. use of Django
            ORM, caching and prefetching data.<br>- Contributed to making the
            overall development process better by adding to the CI/CD pipeline based
            on GitHub Actions that automated much of the manual effort (linting,
            generating translations etc.) saving hours of manual effort for the team
            on a weekly basis. <br>- Managed different features in the project as
            the POC and delivered them before time. This included breaking down said
            features, estimating the overall effort, grooming any tickets for the
            feature, delegating and taking any queries from the developers working
            on the created tickets, and narrowing down any confusions.<br>- Mentored a new hire for a
            Software Engineer role (Python, Django, DRF, JS, React) in the team. <br>
          </div>
        </div>
        <div id="w-node-b8984b67-8a44-9777-ca43-25f37112c94f-f71b88f5" class="work-position-wrap">
          <div class="position-name-text">National University of Computer &amp; Emerging Sciences</div>
          <div class="paragraph-light cc-position-name">Teaching Assistant</div>
          <div class="paragraph-tiny cc-paragraph-tiny-light">Nov 2019 — Jul 2020<br></div>
          <div class="experience-summary">-
            Worked as a TA for Artificial Intelligence course (CS-401) during the
            Fall 2019 semester and guided a cohort of about 100 students. <br>- Responsibilities included
            checking quizzes, evaluating assignments and term projects worth almost 35% of the overall
            grade. <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrap">
    <div class="footer-links"></div>
  </div>

{% endblock content %}
